<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            User
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-icon name="leaf" item-left></ion-icon>
            Herbology
            <ion-icon name="rose" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
